extends ../layouts/layout.pug
block contenido
    label(style="font-size: 1.5em") 
    .divider(style="margin-bottom: 20px;")
    form(role="form" method="post" action="/usuarios/guardar")
        div.container-form
            div.center-margin
                div.icono-form
                    div.icono-intermediate
                        i.fa.fas.fa-user
                div.titulo-form
                    label Nuevo Usuario
                div.izquierdo-bloque
                    .form-group
                        .input-group
                            input.form-control(required type="text" name="usuario" placeholder="Usuario" tabindex="2")
                    .form-group
                        input.form-control(required type="text" name="nombre" placeholder="Nombre" tabindex="1")
                div.derecho-bloque
                    .form-group
                        .input-group
                            input.form-control(required type="password" name="password" placeholder="Password" tabindex="3")
                    .input-group
                        select.form-control(required name="permisos" placeholder="Permisos" tabindex="4")
                            option(value=0) << Seleccione >>
                            option(value=1) Administrador
                            option(value=2) Ventas
                            option(value=3) Inventarios
                .divider(style="margin-bottom: 20px; margin-top: 20px;")
                .row
                    .col-lg-2.align-self-end.ml-auto
                        .form-group
                            .input-group.btn-form
                                input(type="submit" value="Guardar" tabindex="5").form-control