extends ../layouts/layout.pug
block contenido
    i(style="font-size: 1.5em; margin-right: 10px;").fa.fas.fa-user
    label(style="font-size: 1.5em") Usuarios
    .divider(style="margin-bottom: 20px;")
    .row
        .col-lg-12.text-right(style="margin-bottom: 25px;") 
            a(href="/usuarios/nuevo")
                i.fas.fa-plus-circle
                |   Nuevo
    .card
        .card-tittle
        .card-body.table-color-new
            table#products.table.table-hover
                    thead
                        th.text-center(style="width:70px;")
                            i(style="color: gray;").fas.fa-cog
                        th
                            |   Nombre   
                        th
                            |   Usuario
                        th
                            |   Permisos
                    tbody
                        each usr in usuarios
                            tr.table-metadata(scope="row")
                                td.text-center
                                    div.btn-group.table-icons
                                        a(href="/tiposServicios/editar/" + usr.id , data-toggle="tooltip", data-placement="top", title="Editar" style="background-color:white;").btn
                                            i(style="color: gray;").fas.fa-pencil-alt
                                        a(href="/tiposServicios/eliminar/" + usr.id, data-toggle="tooltip", data-placement="top", title="Eliminar").btn.btn-danger
                                            i(style="color: white;").fas.fa-trash-alt
                                td #{ usr.nombre }
                                td #{ usr.usuario }
                                td #{ usr.permisos }
                                