extends ../layouts/layout.pug
block contenido
    style.
        label {
            font-weight: 700;
        }
    script.
        $(document).ready( function(){
        });

    .divider(style="margin-bottom: 20px;")
    form(role="form" method="post" action="/caja/nueva/guardar")
        div.container-form
            div.center-margin
                div.icono-form
                    div.icono-intermediate
                        i.fa.fas.fa-cash-register
                div.titulo-form
                    label Nueva Caja
                div.izquierdo-bloque
                    .form-group
                        .input-group
                            input.form-control(required type="text" name="codigo" placeholder="Código *" tabindex="1")
                div.derecho-bloque
                    .form-group
                        .input-group
                            input.form-control(required type="text" name="nombre" placeholder="Nombre *" tabindex="2")
                .divider(style="margin-bottom: 20px; margin-top: 20px;")
                .row
                    .col-lg-2.align-self-end.ml-auto
                        .form-group
                            .input-group.btn-form
                                input(type="submit" value="Guardar" tabindex="3").form-control