extends ../layouts/layout.pug
block contenido
    style.
        label {
            font-weight: 700;
        }
    script.
        $(document).ready( function(){

        });

    label(style="font-size: 1.5em") 
    .divider(style="margin-bottom: 20px;")
    form(role="form" method="post" action=`/tiposServicios/actualizar/${tipoServicio.id}?_method=put`)
        div.container-form
            div.center-margin
                div.icono-form
                    div.icono-intermediate
                        i.fa.fas.fa-box
                div.titulo-form
                    label Editar servicio
                div.izquierdo-bloque
                    .form-group
                        .input-group
                            input.form-control(required type="text" name="codigo" value=tipoServicio.codigo placeholder="Código" tabindex="1")
                    .form-group
                        input.form-control(required type="text" name="nombre" value=tipoServicio.nombre placeholder="Nombre" tabindex="2")
                div.derecho-bloque
                    .form-group
                        .input-group
                            input.form-control(required type="text" name="descripcion" value=tipoServicio.descripcion placeholder="Descripción" tabindex="3")
                .divider(style="margin-bottom: 20px; margin-top: 20px;")
                .row
                    .col-lg-2.align-self-end.ml-auto
                        .form-group
                            .input-group.btn-form
                                input(type="submit" value="Actualizar" tabindex="7").form-control