extends ../layouts/layout.pug
block contenido
    style.
        label {
            font-weight: 700;
        }
    script.
        $(document).ready( function(){
        });

    .divider(style="margin-bottom: 20px;")
    form(role="form" method="post" action="/clientes/guardar")
        div.container-form
            div.center-margin
                div.icono-form
                    div.icono-intermediate
                        i.fa.fas.fa-handshake
                div.titulo-form
                    label Nuevo Cliente
                div.izquierdo-bloque
                    .form-group
                        .input-group
                            input.form-control(required type="text" name="codigo" placeholder="Código *" tabindex="1")
                    .form-group
                        .input-group
                            input.form-control(required type="text" name="nombre" placeholder="Descripción *" tabindex="2")
                    .form-group
                        .input-group
                            select.form-control(required type="text" name="identificacion" placeholder="Identificación *" tabindex="3")
                                option(value=0) << Seleccione >>
                                option(value="INE") INE
                                option(valie="Licencia") Licencia
                div.derecho-bloque
                    .form-group
                        .input-group
                            input.form-control(required type="text" name="noIdentificacion" placeholder="No. Identificación *" tabindex="4")
                    .form-group
                        .input-group
                            input.form-control(required type="text" name="limiteCredito" placeholder="Límite de Crédito *" tabindex="5")
                    .form-group
                        .input-group
                            input.form-control(readonly type="text" name="saldo" placeholder="Saldo Actual *")
                .divider(style="margin-bottom: 20px; margin-top: 20px;")
                .row
                    .col-lg-2.align-self-end.ml-auto
                        .form-group
                            .input-group.btn-form
                                input(type="submit" value="Guardar" tabindex="6").form-control